.result {
  position: relative;
  @include flexer(column, $align: flex-start);
  word-break: break-all;
  // overflow-wrap: break-word;
  @media (max-width: $Is_Mobile) {
    align-items: center;
  }

  &:not(:first-of-type):after {
    @include positioner(absolute, $left: -20px, $top: 0px);
    @include size(1px, 100%);
    content: "";
    display: block;
    background-color: $light_Gray;
    @media (max-width: $Is_Mobile) {
      display: none;
    }
  }
  @include element("name") {
    color: $Dark_Gray;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  @include element("value") {
    font: {
      weight: 500;
      size: 1.5rem;
    }
  }
}
